.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 70px;
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,.05);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#EC4899;
}

.logo span{
    margin-left:6px;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#555;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#EC4899;
}

.nav-actions{
    display:flex;
    align-items:center;
    gap:18px;
}

.login-link{
    color:#EC4899;
    text-decoration:none;
    font-weight:600;
}

.signup-btn{
    background:#EC4899;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:999px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.signup-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(236,72,153,.25);
}